


.gallery-view{
    border-bottom: solid 1px $secondary-color;


    .gallery{
        display: flex;
        margin: 0 2rem 2rem 2rem;
        padding: 1rem;
        border: 3px solid #e0e0e0;
        z-index: 1;

        .gallery-item{
            margin: 1rem;
            border: 1px solid #fff;
            @include easeOut();
            text-align: center;
            cursor: pointer;

            img{
                @include easeOut();
                border: 1px solid #ccc;
            }
            p{
                padding: 0 1rem 1rem 1rem;
                text-align: left;
            }
            &:hover{
                border: 1px solid #000;
                background-color: #ddd;
                
                img{
                    border: 1px solid rgba(255, 255, 255, 0);
                }
            }
        }
    }
}