
*{
    margin:0;
    padding: 0;
}

body {
    background: $primary-color;
    color : set-text-color($primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.primary-color{
    color: $primary-color; 
}

.secondary-color {
    color: $secondary-color;
}