
@import 'config';

@import 'globals';

@import 'header';

main{
    min-height: calc(100vh - 2.5rem);

    position: relative;
    background: url("../img/backgrounds/bg1.jpg");
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, 0.75);
        z-index: -1;
    }

    @import 'showoff';

    @import 'topicsview';

    @import 'abilitiesshow';
    @import 'abilitiesshow-skilladjustments';
    
    @import 'gallery';

    @import 'about';
    
    @import 'contact';
}
 
@import 'footer';
